
/*BEGIN GAME*/

.container-fluid{
    padding-top: 85px;
}

h1{
  font-size: 48px;
  text-align: center;
}

td{
  border: solid black;
  height: 30px;
  width: 30px;
}

#start:hover{
  color: red;
}

.modal-body{
  background: url('http://megandalbey.com/codepen/css-selectors/paper.jpg') #f2f1e3;
}

.modal-header{
  background:url('http://megandalbey.com/codepen/css-selectors/purplewood.jpg') #432d3e;
  color: white;
}

.study{
  /*background-color: green; */
}

.library{
  /*background-color: blue; */

}
.hallway{
  background-color: lightyellow; 
}

.room{
  background-color: green; 
}

.secret{
  background-color: pink; 
}

.gameBorder{
  opacity: 0;
  /*background-color: black; */
  border: none;
}

.doors{
  background-color: lightblue; 
}

.start{
  background-color: brown;
}

.activePlayer{
  background-color: red;
}