<html>
<head>
	<title>Angular</title>
</head>
<body ng-app="glacierAngular">


	<h1>{{ "Hello Glacier" }}</h1>

	<p>Let's do math: {{4+5}}</p>

	<ul>
	    <li ng-if="1 < 2">One is Less Than Two</li>
	    <li ng-if="1 <= 2">One is Less Than or Equal to Two</li>
	    <li ng-if="1 == 2">One is Equal to Two</li>
	    <li ng-if="1 >= 2">One is Greater Than or Equal to Two</li>
	    <li ng-if="1 > 2">One is Greater Than Two</li>
	</ul>





<script type="text/javascript" src="/js/angular.min.js"></script>
<script type="text/javascript" src="/js/glacierAngular.js"></script>

</body>
</html>